.header_span{
  display: block;
  font-size: 25px;
  text-align: center;
  // background-color: rgb(162, 171, 168);
  
}

.grid-container {      
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #d3d3d3;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(33, 33, 124, 0.326);
  padding: 5px;
  font-size: 12px;
  text-align: left;
  border-radius: 5px;
}

.cell {
  vertical-align: middle;
  display: table-cell;
}
.selected{
  background-color: bisque;
}