<div class="message">
  <!-- data is the message sent from parent component to this child component 
  message: {{data}}
  -->
  <!--
    receivedData is message coming from shared service called resources.service 
    it is used to send messages ti resource-options component to dynalically determine 
    options that will be highlighted in the resources grid
    Message: {{receivedData}}
  -->
  
</div>
<div class="resources-grid-container">
  
  <div class="grid-item">
    <div class="cell">
      
      <div>
        <table>
          <tr><th><span class="header_span">Storage</span></th></tr>
          <tr><td [ngClass]="{'selected':receivedData==='TB' || receivedData==='GB'}">AWS Cloud Storage</td></tr>
          <tr><td [ngClass]="{'selected':receivedData==='TB' || receivedData==='GB'}">OU Storage Request (Local NAS,  Central)</td></tr>
          <tr><td [ngClass]="{'selected':receivedData==='MB'}">Google Drive</td></tr>
          <tr><td [ngClass]="{'selected':receivedData==='GB'}">Box</td></tr>
          <tr><td [ngClass]="{'selected':receivedData==='TB' || receivedData==='GB'}">Central Storage On-Prem (CFS2E, CFS2W)</td></tr>
        </table>
      </div>
    </div>
  </div>
  <div class="grid-item">
    <div class="cell">
      <span class="header_span">Computing Resources</span>
      <div>
        <ul>
          <li>OU HPC (ITL,  CTCMS,  other)</li>
          <li>Central HPC (Raritan,  Enki)</li>
          <li>ENKI GPU Cluster</li>
          <li>Central VM (On-Prem)</li>
          <li>AWS Compute</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="grid-item">
    <div class="cell">
      <span class="header_span">Network Support</span>
      <div>
        <ul>
          <li>Research Equipment Network (REN) - Instrument => ITSO</li>
          <li>10Gb - high speed</li>
          <li>Firewall - ITAC</li>
          <li>DNS - ITAC</li>
        </ul>
      </div>
    </div>
  </div>  
  <div class="grid-item">
    <div class="cell">
      <span class="header_span">Web Server</span>
      <div>
        <ul>
          <li>Hosting</li>
          
        </ul>
      </div>
    </div>
  </div>
  <div class="grid-item">
    <div class="cell">
      <span class="header_span">Database</span>
      <div>
        <ul>
          <li>Licensing</li>
          <li>Resources at NIST</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="grid-item">
    <div class="cell">
      <span class="header_span">AWS Cloud</span>
      <div>
        <ul>
          <li>Services</li>
          <li>Server</li>
          <li>Storage</li>
        </ul>
      </div>
    </div>
  </div>  
  <div class="grid-item">
    <div class="cell">
      <span class="header_span">Collaboration Tools</span>
      <div>
        <ul>
          <li>NIST-Wide Available</li>
          <li>OU Approved</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="grid-item">
    <div class="cell">
      <span class="header_span">Software Tools</span>
      <div>
        <ul>
          <li>Gitlab Repository - Internal</li>
          <li>Github (Public and Private Repository)</li>
          <li>Science Software</li>
        
        </ul>
      </div>
    </div>
  </div>
  <div class="grid-item">
    <div class="cell">
      <span class="header_span">Data Science</span>
      <div>
        <ul>
          <li>Informatics - Semantic</li>
          <li>LIMS at NIST</li>
          <li>Standards</li>
          
        </ul>
      </div>
    </div>
  </div>  
</div>