<div class="grid-container">
  <div class="grid-item">
    <div class="cell">
      
      <div>
        <table>
          <tr><th><span class="header_span">Storage</span></th></tr>
          <tr><td class="selected">AWS Cloud Storage</td></tr>
          <tr><td>OU Storage Request (Local NAS,  Central)</td></tr>
          <tr><td>Google Drive</td></tr>
          <tr><td>Box</td></tr>
          <tr><td>Central Storage On-Prem (CFS2E, CFS2W)</td></tr>
        </table>
      </div>
    </div>
  </div>
  <div class="grid-item">
    <div class="cell">
      <span class="header_span">Computing Resources</span>
      <div>
        <ul>
          <li>OU HPC (ITL,  CTCMS,  other)</li>
          <li>Central HPC (Raritan,  Enki)</li>
          <li>ENKI GPU Cluster</li>
          <li>Central VM (On-Prem)</li>
          <li>AWS Compute</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="grid-item">
    <div class="cell">
      <span class="header_span">Network Support</span>
      <div>
        <ul>
          <li>Research Equipment Network (REN) - Instrument => ITSO</li>
          <li>10Gb - high speed</li>
          <li>Firewall - ITAC</li>
          <li>DNS - ITAC</li>
        </ul>
      </div>
    </div>
  </div>  
  <div class="grid-item">
    <div class="cell">
      <span class="header_span">Web Server</span>
      <div>
        <ul>
          <li>Hosting</li>
          
        </ul>
      </div>
    </div>
  </div>
  <div class="grid-item">
    <div class="cell">
      <span class="header_span">Database</span>
      <div>
        <ul>
          <li>Licensing</li>
          <li>Resources at NIST</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="grid-item">
    <div class="cell">
      <span class="header_span">AWS Cloud</span>
      <div>
        <ul>
          <li>Services</li>
          <li>Server</li>
          <li>Storage</li>
        </ul>
      </div>
    </div>
  </div>  
  <div class="grid-item">
    <div class="cell">
      <span class="header_span">Collaboration Tools</span>
      <div>
        <ul>
          <li>NIST-Wide Available</li>
          <li>OU Approved</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="grid-item">
    <div class="cell">
      <span class="header_span">Software Tools</span>
      <div>
        <ul>
          <li>Gitlab Repository - Internal</li>
          <li>Github (Public and Private Repository)</li>
          <li>Science Software</li>
        
        </ul>
      </div>
    </div>
  </div>
  <div class="grid-item">
    <div class="cell">
      <span class="header_span">Data Science</span>
      <div>
        <ul>
          <li>Informatics - Semantic</li>
          <li>LIMS at NIST</li>
          <li>Standards</li>
          
        </ul>
      </div>
    </div>
  </div>  
</div>