.dark_shade{
  background-color: rgb(179, 179, 179);
}
.medium_shade{
  background-color: rgb(211, 211, 211);
}
.light_shade{
  background-color: rgb(230, 230, 230);
}
table {
  border-collapse: collapse;
}
