<div class="dmpSection">
  <div class="header">Ethical Issues</div>
  <div class="dmp-frm-container"> 
    <div class="dmp-frm-label">Are there any ethical issues related to the data that this DMP describes?</div>
    <div>
      <input type="radio" id="ethicalIssuesY" name="ethicalIssues" value="yes" (click)="setEthicalIssues('yes')" 
      [formControl]="ethicalIsuesForm.controls['ethicalIssue']"
      >
      <label for="ethicalIssuesY">Yes</label>

      <input type="radio" id="ethicalIssuesN" name="ethicalIssues" value="no" (click)="setEthicalIssues('no')" 
      [formControl]="ethicalIsuesForm.controls['ethicalIssue']"
      >
      <label for="ethicalIssuesN">No</label>
      <div *ngIf="selEthicalIssues('yes')">
        <br>
        <div>Describe any ethical issues raised in this project (human subjects etc)</div>
        <div>
          <textarea id="ethicalIssueDescription" rows="6" cols="60"
          [formControl]="ethicalIsuesForm.controls['ethicalIssueDescription']"
          ></textarea>
        </div>
        <br>
        <div>Ethical issues report</div>
        <div>
          <textarea 
            id="ethicalIssuesReport" 
            name="ethicalIssuesReport" 
            rows="6" 
            cols="60" 
            placeholder="indicate where a protocol from a meeting with an ethical commitee can be found"
            [formControl]="ethicalIsuesForm.controls['ethicalReport']"
          ></textarea>
        </div>
      </div>
    </div>
    <!--
    <div>
      <span class="dmp-frm-label">Does the data generated in this project contain PII or BII or other sensitive data?</span>
    </div>
    
    <div>
      <input type="radio" id="PIIY" name="PII" value="yes" 
          [formControl]="ethicalIsuesForm.controls['ethicalPII']"
          >
      <label for="PIIY">Yes</label>

      <input type="radio" id="PIIN" name="PII" value="no" 
      [formControl]="ethicalIsuesForm.controls['ethicalPII']"
      >
      <label for="PIIN">No</label>
    </div>
    -->
    <br>
    <div>
      <b>Security and Privacy</b><br><br>
      Select Data Sensitivity Level(s):<br>
      <input 
        type="checkbox" 
        id="dataSensitivityLow" 
        name="dataSensitivityLow"
        value="Low"
        [checked]="dataSensitivityMap.get('Low')"
        (click)="dataSensitivityChange($event)" 
                  
      >&nbsp;<label for="dataSensitivityLow"> Low </label>


      <input 
        type="checkbox" 
        id="dataSensitivityMedium" 
        name="dataSensitivityMedium"
        value="Medium"
        [checked]="dataSensitivityMap.get('Medium')"
        (click)="dataSensitivityChange($event)" 
                  
      >&nbsp;<label for="dataSensitivityMedium"> Medium </label>


      <input 
        type="checkbox" 
        id="dataSensitivityHigh" 
        name="dataSensitivityHigh"
        value="High"
        [checked]="dataSensitivityMap.get('High')"
        (click)="dataSensitivityChange($event)" 
                  
      >&nbsp;<label for="dataSensitivityHigh"> High </label>
      <br>
      <div *ngIf="showCUI_chk">
        Controlled Unclassified Information (CUI):<br>
        <input 
          type="checkbox" 
          id="cuiBII" 
          name="cuiBII"
          value="BII"
          [checked]="cuiMap.get('BII')"
          (click)="cuiChange($event)" 
                    
        >&nbsp;<label for="cuiBII"> BII </label>


        <input 
          type="checkbox" 
          id="cuiPII" 
          name="cuiPII"
          value="PII"
          [checked]="cuiMap.get('PII')"
          (click)="cuiChange($event)" 
                    
        >&nbsp;<label for="cuiPII"> PII </label>

        <input 
          type="checkbox" 
          id="cuiEAR" 
          name="cuiEAR"
          value="Export Controlled (EAR)"
          [checked]="cuiMap.get('Export Controlled (EAR)')"
          (click)="cuiChange($event)" 
                    
        >&nbsp;<label for="cuiEAR"> Export Controlled (EAR) </label>

        <input 
          type="checkbox" 
          id="cuiITAR" 
          name="cuiITAR"
          value="ITAR"
          [checked]="cuiMap.get('ITAR')"
          (click)="cuiChange($event)" 
                    
        >&nbsp;<label for="cuiITAR"> ITAR </label>


        <input 
          type="checkbox" 
          id="cuiProprietary" 
          name="cuiProprietary"
          value="Proprietary"
          [checked]="cuiMap.get('Proprietary')"
          (click)="cuiChange($event)" 
                    
        >&nbsp;<label for="cuiProprietary"> Proprietary </label>


        
        <br>
      </div>
      
    </div>
  </div> 
</div>