<div class="dmpSection">
  <div class="header">Ethical Issues</div> 
  <div>Are there any ethical issues related to the data that this DMP describes?</div>
    <div>
      <input type="radio" id="ethicalIssuesY" name="ethicalIssues" value="yes" (click)="setEthicalIssues('yes')" 
      [formControl]="ethicalIsuesForm.controls['ethicalIssue']"
      >
      <label for="ethicalIssuesY">Yes</label>

      <input type="radio" id="ethicalIssuesN" name="ethicalIssues" value="no" (click)="setEthicalIssues('no')" 
      [formControl]="ethicalIsuesForm.controls['ethicalIssue']"
      >
      <label for="ethicalIssuesN">No</label>
      <div *ngIf="selEthicalIssues('yes')">
        <br>
        <div>Describe any ethical issues raised in this project (human subjects etc)</div>
        <div>
          <textarea id="ethicalIssueDescription" rows="6" cols="60"
          [formControl]="ethicalIsuesForm.controls['ethicalIssueDescription']"
          ></textarea>
        </div>
        <br>
        <div>Ethical issues report</div>
        <div>
          <textarea 
            id="ethicalIssuesReport" 
            name="ethicalIssuesReport" 
            rows="6" 
            cols="60" 
            placeholder="indicate where a protocol from a meeting with an ethical commitee can be found"
            [formControl]="ethicalIsuesForm.controls['ethicalReport']"
          ></textarea>
        </div>
      </div>
    </div>  
    <table>
      <tr>
        <td class="description">Does the data generated in this project contain PII or BII?</td>
        <td>
          <input type="radio" id="PIIY" name="PII" value="yes" 
          [formControl]="ethicalIsuesForm.controls['ethicalPII']"
          >
          <label for="PIIY">Yes</label>

          <input type="radio" id="PIIN" name="PII" value="no" 
          [formControl]="ethicalIsuesForm.controls['ethicalPII']"
          >
          <label for="PIIN">No</label>
        </td>
      </tr>
    </table>
</div>