<div class="dmpSection">
  <div class="header">Ethical Issues</div>
  <div class="dmp-frm-container"> 
    <div class="dmp-frm-label">Are there any ethical issues related to the data that this DMP describes?</div>
    <div>
      <input type="radio" id="ethicalIssuesY" name="ethicalIssues" value="yes" (click)="setEthicalIssues('yes')" 
      [formControl]="ethicalIsuesForm.controls['ethicalIssue']"
      >
      <label for="ethicalIssuesY">Yes</label>

      <input type="radio" id="ethicalIssuesN" name="ethicalIssues" value="no" (click)="setEthicalIssues('no')" 
      [formControl]="ethicalIsuesForm.controls['ethicalIssue']"
      >
      <label for="ethicalIssuesN">No</label>
      <div *ngIf="selEthicalIssues('yes')">
        <br>
        <div>Describe any ethical issues raised in this project (human subjects etc)</div>
        <div>
          <textarea id="ethicalIssueDescription" rows="6" cols="60"
          [formControl]="ethicalIsuesForm.controls['ethicalIssueDescription']"
          ></textarea>
        </div>
        <br>
        <div>Ethical issues report</div>
        <div>
          <textarea 
            id="ethicalIssuesReport" 
            name="ethicalIssuesReport" 
            rows="6" 
            cols="60" 
            placeholder="indicate where a protocol from a meeting with an ethical commitee can be found"
            [formControl]="ethicalIsuesForm.controls['ethicalReport']"
          ></textarea>
        </div>
      </div>
    </div>
    <div>
      <span class="dmp-frm-label">Does the data generated in this project contain PII or BII or other sensitive data?</span>
    </div>
    <div>
      <input type="radio" id="PIIY" name="PII" value="yes" 
          [formControl]="ethicalIsuesForm.controls['ethicalPII']"
          >
      <label for="PIIY">Yes</label>

      <input type="radio" id="PIIN" name="PII" value="no" 
      [formControl]="ethicalIsuesForm.controls['ethicalPII']"
      >
      <label for="PIIN">No</label>
    </div>
    <div>
      <b>Security and Privacy</b><br>
      Title:<br>
      <input type="text" id="security_title" name="security_title" required minlength="4" maxlength="8" size="10" /><br>
      Description:<br>
      <input type="text" id="security_description" name="security_description" required minlength="4" maxlength="8" size="10" /><br>
    </div>
  </div> 
</div>