<div class="dmpSection">
  <div class="header">Data Preservation</div>    
  <table>
    <tr>
      <td class="description">Select categories of the<br>data that will be generated</td>
      <td>
        <input type="checkbox" id="dataClassification1" name="dataClassification1" value="Public">
        <label for="dataClassification1"> SRD </label><br>

        <input type="checkbox" id="dataClassification2" name="dataClassification2" value="Sensitive">
        <label for="dataClassification2"> Reference Data </label><br>

        <input type="checkbox" id="dataClassification3" name="dataClassification3" value="Confidential">
        <label for="dataClassification3"> Resource Data </label><br> 

        <input type="checkbox" id="dataClassification4" name="dataClassification4" value="published">
        <label for="dataClassification4"> Published Data </label><br> 

        <input type="checkbox" id="dataClassification4" name="dataClassification4" value="published">
        <label for="dataClassification4"> Publishable Data </label><br> 

        <input type="checkbox" id="dataClassification4" name="dataClassification4" value="published">
        <label for="dataClassification4"> Working Data </label><br> 

        <input type="checkbox" id="dataClassification4" name="dataClassification4" value="published">
        <label for="dataClassification4"> Derived Data </label><br> 
      </td>
    </tr>

  </table>
</div>