<div class="dmpSection">
  <div class="header">Data Preservation</div>    
  <div class="sub-header">Select categories of the data that will be generated</div>

  <table>
    <tr>
      <td rowspan="3" class="dark_shade instruction">Must be stored in a location that is<br>backed up using a tested/automated proces</td>
      <td>
        <input type="checkbox" id="dataCategorySRD" name="dataCategorySRD" value="SRD">
        <label for="dataCategorySRD"> SRD </label>
      </td>            
    </tr>
    <tr>
      <td>
        <input type="checkbox" id="dataCategoryReference" name="dataCategoryReference" value="Reference">
        <label for="dataCategoryReference"> Reference Data </label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" id="dataCategoryResource" name="dataCategoryResource" value="Resource">
        <label for="dataCategoryResource"> Resource Data </label>
      </td>
    </tr>

    <!-- =============================================================== -->

    <tr>
      <td rowspan="2" class="medium_shade instruction">User may choose how they preserve data</td>
      <td>
        <input type="checkbox" id="dataCategoryPublished" name="dataCategoryPublished" value="Published">
        <label for="dataCategoryPublished"> Published Data </label> 
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" id="dataCategoryPublishable" name="dataCategoryPublishable" value="Publishable">
        <label for="dataCategoryPublishable"> Publishable Data </label>
      </td>
    </tr>

    <!-- =============================================================== -->

    <tr>
      <td rowspan="2" class="light_shade instruction">No data preservation requirements</td>
      <td>
        <input type="checkbox" id="dataCategoryWorking" name="dataCategoryWorking" value="Working">
        <label for="dataCategoryWorking"> Working Data </label><br> 
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" id="dataCategoryDerived" name="dataCategoryDerived" value="Derived">
        <label for="dataCategoryDerived"> Derived Data </label><br> 
      </td>
    </tr>
  </table>
        






      <!-- </td>
    </tr>
    <tr>
      <td>Preservation Description</td>
      <td><textarea name="dmpPreservationDescription" cols="40" rows="5" placeholder="The type of data that is expected to be generated and plan on what to do with the collected data"></textarea></td>
    </tr>

  </table> -->
</div>