<!-- <div class="message"> -->
  <!-- data is the message sent from parent component to this child component 
  message: {{data}}
  -->
  <!--
    storageSelection is message coming from shared service called resources.service 
    it is used to send messages ti resource-options component to dynalically determine 
    options that will be highlighted in the resources grid
    Message: {{storageSelection}}
  -->
  
<!-- </div> -->

<div id="resources-grid-container" >
  <!-- <pre>{{ availableResources['storage'] | json }}</pre>
  <pre>{{ availableResources| json }}</pre> -->
  
    <!-- <p>{{category | json}}</p> -->
    <div class="span_box">
      <!-- <span class="header_span header_pad">Resources Available At NIST</span> -->
    </div>
    <div class="grid-item" *ngFor="let category of availableResources">
      <div class="cell">        
        <div>
          <table class="grid-table">
            <tr><th><span class="header_span">{{category["resource"]}}</span></th></tr>
            <tr *ngFor="let row of category.options">
              <!-- <td  *ngFor="let c of row.highlight | filter: storageSelection"> -->
              <td  [ngClass]="{'selected':row.highlight | filter: 
                {
                  'storageSelection':storageSelection,
                  'computingSelection':computingSelection,
                  'dataSelection':dataSelection,
                  'websiteSelection':websiteSelection,
                  'databaseSelection':databaseSelection,
                  'awsSelection':awsSelection,
                  'colaborationSelection':colaborationSelection,
                  'softwareSelection':softwareSelection,
                  'networkSelection':networkSelection
                }
              }">
                <a href='{{row.link}}'>{{row.text}}</a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

  
  
 
</div>