<div class="sticky" id="resource_options">
  <div id="resources-grid-container">

    <div class="span_box">
      <div class="grid-item">
        <div class="cell">
          <div>
            <table class="grid-table">
              <tr><th><span class="header_span">NIST Resources</span></th></tr>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="grid-item" *ngFor="let category of availableResources">
      <div class="cell">
        <div>
          <table class="grid-table">
            <tr><th><span class="header_span">{{category["resource"]}}</span></th></tr>
            <tr *ngFor="let row of category.options">
              <td [ngClass]="{'selected':row.highlight | filter:
                {
                  'storageSelection':storageSelection,
                  'softwareSelection':softwareSelection
                }
              }">
                <a href='{{row.link}}' target="_blank">{{row.text}}</a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>