.header_span{
  display: block;
  font-size: 20px;
  text-align: center;
  // background-color: aqua;
  // background-color: rgb(162, 171, 168);
  
}
.header_pad{
  padding: 5px 0px 20px;
}

#resources-grid-container {      
  display: grid;
  // define two columns of 330px each
  // grid-template-columns:repeat(2, 290px);
  background-color: #1a7bbc;;
  padding: 5px;
  border-radius: 8px;
}
.grid-item {
  background-color: #fff;
  border: 1px solid #00000053;
  padding: 5px;
  font-size: 15px;
  text-align: left;
  border-radius: 3px;
  /* unvisited link */
  a:link {
    color: rgb(30, 65, 224);
  }

  /* visited link */
  a:visited {
    color:  rgb(30, 65, 224);
  }

  /* mouse over link */
  a:hover {
    color: rgb(83, 53, 255);
  }

  /* selected link */
  a:active {
    color: blue;
  } 

}
.span_box{
  grid-column-start: 1;
  grid-column-end: 3;
}

.cell {
  vertical-align: middle;
  display: table-cell;
}
.selected{
  background-color: rgb(201, 201, 201);
}

div {
  .grid-table{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
  }  
}

.btn_draft {
  background: rgb(242, 243, 255);
  border: 1px solid #00000053;
}
.btn_reset {
  background: rgb(224, 224, 224);
  border: 1px solid #00000053;
}