$header_height: 56px;

.header_span{
  display: block;
  font-size: 20px;
  text-align: center;
  // background-color: aqua;
  // background-color: rgb(162, 171, 168);
  
}

#resources-grid-container {      
  display: grid;
  // define two columns of 330px each
  // grid-template-columns:repeat(2, 290px);
  background-color: #1a7bbc;;
  padding: 5px;
  border-radius: 8px;
}
.grid-item {
  background-color: #fff;
  border: 1px solid #00000053;
  padding: 5px;
  font-size: 15px;
  text-align: left;
  border-radius: 3px;
  /* unvisited link */
  a:link {
    color: #1E4187;
  }

  /* visited link */
  a:visited {
    color:  #1E4187;
  }

  /* mouse over link */
  a:hover {
    color: #5A3F64;
  }

  /* selected link */
  a:active {
    color: #661A64;
  } 

}
.span_box{
  grid-column-start: 1;
  grid-column-end: 3;
}

.cell {
  vertical-align: middle;
  display: table-cell;
}
.selected{
  background-color: #F1F1F2;
}

div {
  .grid-table{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
  }  
}

.btn_draft {
  background: rgb(242, 243, 255);
  border: 1px solid #00000053;
}
.btn_update {
  background: rgb(199, 199, 199);
  border: 1px solid #00000053;
}
.btn_reset {
  background: rgb(224, 224, 224);
  border: 1px solid #00000053;
}

.sticky{
  top: $header_height;
}

.dmp_control_bar{
  position: fixed;
  top: $header_height;
  left: 5px;
  // padding: 4px;
  padding-bottom: 5px;
  background-color: #ffffff;
  width:100%;
  z-index:2;
  border-bottom: groove #000000;
  
}

.grid_buttons div{
  float:left;
}

.dmpExportSelect {
  padding-left: 5px;
  // padding-top: 3px;

  position: relative;
  
}

.dmpExportSelect select{
  appearance: none;
  min-width: 124px;
  max-width: 134px;
  // width: 100%;
  font-size: 15px;
  padding: 7px 5px;
  background-color: #fff;
  border: 1px solid #000000;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
}
.dmpExportSelect::before,
.dmpExportSelect::after {
  --size: 0.3rem;
  position: absolute;
  content: "";
  right: 10px;
  pointer-events: none;
}

// .dmpExportSelect::before {
//   border-left: var(--size) solid transparent;
//   border-right: var(--size) solid transparent;
//   border-bottom: var(--size) solid black;
//   top: 30%;
// }

.dmpExportSelect::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 45%;
}