<div class="dmpSection">
  <div class="header">Basic Information</div>    
  <table>
    <tr>
      <td class="description">Title</td>
      <td><input type="text" [formControl]="basicInfoForm.controls['title']"></td>
    </tr>
    <tr class="hidden-row">
      <td class="description">DMP Idntifier</td>
      <!-- hide this  -->
      <td>
        <div>
          <input type="radio" id="dmpHandle" name="dmpIdType" value="dmpHandle" checked>
          <label for="dmpHandle">handle</label>
        </div>
        <div>
          <input type="radio" id="dmpDoi" name="dmpIdType" value="dmpDoi">
          <label for="dmpDoi">doi</label>
        </div>
        <div>
          <input type="radio" id="dmpArk" name="dmpIdType" value="dmpArk">
          <label for="dmpArk">ark</label>
        </div>
        <div>
          <input type="radio" id="dmpUrl" name="dmpIdType" value="dmpUrl">
          <label for="dmpUrl">url</label>
        </div>
        <div>
          <input type="radio" id="dmpOther" name="dmpIdType" value="dmpOther">
          <label for="dmpOther">other</label>
        </div>
        <input type="text" placeholder="DMP Idntifier">
      </td>
    </tr>
    <tr>
      <td class="description">Start Date</td>
      <td><input type="date" [formControl]="basicInfoForm.controls['startDate']"></td>
    </tr>
    <tr>
      <td class="description">End Date</td>
      <td><input type="date" [formControl]="basicInfoForm.controls['endDate']"></td>
    </tr>
    <tr>
      <td class="description">Make DMP searchable</td>
      <!-- move this into basic information section -->
      <td>
        <div>
          <input type="radio" id="searchDMPY" name="searchDMP" value="yes" [checked]='true' [formControl]="basicInfoForm.controls['dmpSearchable']">
          <label for="searchDMPY">Yes</label>

          <input type="radio" id="searchDMPN" name="searchDMP" value="no" [formControl]="basicInfoForm.controls['dmpSearchable']">
          <label for="searchDMPN">No</label>
        </div>          
      </td>
    </tr>
    <tr>
      <td class="description">Funding</td>
      <td>
        <div>
          <input type="radio" id="operatingUnit" name="grant_source" value="Operating Unit" checked 
          [formControl]="basicInfoForm.controls['grant_source']">
          <label for="operatingUnit">Operating Unit</label>
        </div>
        <div>
          <input type="radio" id="divProjTrkNum" name="grant_source" value="Division Project Tracking Number" 
          [formControl]="basicInfoForm.controls['grant_source']">
          <label for="divProjTrkNum">Division Project Tracking Number</label>
        </div>
        <div>
          <input type="radio" id="grantNum" name="grant_source" value="Grant Number"
          [formControl]="basicInfoForm.controls['grant_source']">
          <label for="grantNum">Grant Number</label>
        </div>
        <div>
          <input type="radio" id="contractNum" name="grant_source" value="Contract Number"
          [formControl]="basicInfoForm.controls['grant_source']">
          <label for="contractNum">Contract Number</label>
        </div>
        <div>
          Funding Number:&nbsp;
          <input type="text" placeholder="Funding Number" [formControl]="basicInfoForm.controls['grant_id']">
        </div>
        
      </td>
    </tr>
    <tr>
      <td>Project Description</td>
      <td><textarea name="projectDescription" cols="40" rows="5" placeholder="Description behind the science of the project"
        [formControl]="basicInfoForm.controls['projectDescription']"></textarea></td>
    </tr>
  </table>
</div>