
<form *ngIf="initialDMP" [formGroup]="dmpFormGrp" (ngSubmit)="onSubmit()"  method="post">
  

  <div class="dmpSection" style="padding-left: 12px;">
    <p><span class="req_DMP_Field" >*</span> Required fields to save/create a DMP record</p>
    <table>
      <tr>
        <td><label for="name">DMP Short Name:</label><span class="req_DMP_Field" >*</span></td>
        <td><div [ngClass]="nameClass"><input id="name" type="text" [formControl]="name" [readOnly]="nameDisabled" (change)="enableSaveButton()"></div></td>
      </tr>
    </table>
    
    
  </div>
  
  <!-- And in our template we can render all child components and register the formReady event. -->
  <!-- BASIC INFO -->
  <div id="basic_info_section">
    <app-basic-info 
      [initialDMP_Meta] ="initialDMP" 
      (formReady)="addChildForm('basicInfo', $event)"
      (valueChange)="patchDMP($event)"
    ></app-basic-info>
  </div>

  <!-- PERSONNEL -->
  <div id="personnel_section">
    <app-personel
      [initialDMP_Meta] ="initialDMP" 
      (formReady)="addChildForm('personel', $event)"
      (valueChange)="patchDMP($event)"
    ></app-personel>
  </div>

  <!-- KEYWORDS -->
  <div id="keywords_section">
    <app-keywords
      [initialDMP_Meta] ="initialDMP" 
      (formReady)="addChildForm('keyWordsAndPhrases', $event)"
      (valueChange)="patchDMP($event)"
    ></app-keywords>
  </div>

  <!-- TECHNICAL REQUIREMENTS -->
  <div id="technical_requirements_section">
    <app-technical-requirements
      [initialDMP_Meta] ="initialDMP"
      (formReady)="addChildForm('technicalRequirements', $event)"
      (valueChange)="patchDMP($event)"
    ></app-technical-requirements>
  </div>

  <!-- ETHICAL ISSUES -->
  <div id="ethical_issues_section">
    <app-ethical-issues
      [initialDMP_Meta] ="initialDMP" 
      (formReady)="addChildForm('ethicalIssues', $event)"
      (valueChange)="patchDMP($event)"
    ></app-ethical-issues>
  </div>

  <!-- SECURITY AND PRIVACE -->
  <div id="security_and_privacy_section">
    <app-security-and-privacy
      [initialDMP_Meta] ="initialDMP" 
      (formReady)="addChildForm('securityAndPrivacy', $event)"
      (valueChange)="patchDMP($event)"
    ></app-security-and-privacy>
  </div>

  <!-- DATA DESCRIPTION -->
  <div id="data_description_section">
    <app-data-description
      [initialDMP_Meta] ="initialDMP"   
      (formReady)="addChildForm('dataDescription', $event)"
      (valueChange)="patchDMP($event)"
    ></app-data-description>
  </div>

  <!-- DATA PRESERVATION -->
  <div id="data_preservation_section">
    <app-data-preservation
      [initialDMP_Meta] ="initialDMP"
      (formReady)="addChildForm('dataPreservation', $event)"
      (valueChange)="patchDMP($event)"
    ></app-data-preservation>
  </div>

  <!-- <app-reviewer></app-reviewer> -->

  <!-- <div class="form-actions">
    <button mat-button class="btn_reset" type="button" (click)="resetDmp()">
      Reset
    </button>
    <button mat-button type="button" class="btn_draft" (click)="saveDraft()">
      Save
    </button>
    <button
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="form.invalid"
    >
      Publish
    </button>
  </div> -->
  
  <!-- <div class="output">
    <div>Current DMP Object:</div>
    <pre>{{ dmp | json }}</pre>
  </div> -->
  
</form>
