.btn_draft {
  background: rgb(207, 210, 250);
}
.btn_reset {
  background: rgb(224, 224, 224);
}
.mnemonicNameDisabled{
  input{
    background-color: rgb(165, 165, 165);
  }  
}

.mnemonicNameNew{
  input{
    background-color: rgb(255, 255, 255);
  }  
}