.mnemonicNameDisabled{
  input{
    background-color: rgb(165, 165, 165);
  }  
}

.mnemonicNameNew{
  input{
    background-color: rgb(255, 255, 255);
  }  
}

.req_DMP_Field{
  font-weight: bold !important;
  font-size:large ;
  color: crimson!important;
}