.draft {
  background: rgb(242, 250, 207);
}
.mnemonicNameDisabled{
  input{
    background-color: rgb(165, 165, 165);
  }  
}

.mnemonicNameNew{
  input{
    background-color: rgb(255, 255, 255);
  }  
}