<div class="dmpSection">
  <div class="header">Keywords</div>  
  <table>
    <tr>
        
      <td class="cell-top">Add Keywords/Phrases as comma separated values<!--<span class="required_DMP_Field" >*</span>--></td>
      <td class="cell-top">
        <textarea name="keyWordsText" cols="40" rows="2" placeholder="Hint: a, b, c"
        [(ngModel)]="keyWordsText"></textarea>
        
      </td>
      
      <td class="cell-top">
        <button type="button" class="button-add-row" mat-button (click)="parseKeywordsText()">Add Keywords</button>
      </td>
    </tr>
 

  </table>
  
<div class="card p-fluid">
  <p-chips [formControl]="keyWordsForm.controls['keyWords']" separator="," placeholder="Hint: a, b, c" (onRemove)="chipRemove()" ></p-chips>
</div>

  <p *ngIf="errorMessage" class="error-msg">{{ errorMessage }}</p>
  
  
  

  
</div>
