<div class="dmpSection">
  <div class="header">Keywords</div> 
  <div class="dmp-frm-container">
  
    <!-- <p class="chips-info">Copy/Paste or manually type in Keywords/Phrases as comma separated values: <i>Hint: a, b, c</i></p>   -->
    <div class="p-fluid">
      <!-- <p-chips [formControl]="keyWordsForm.controls['keywords']" [separator]="separatorExp" placeholder="Hint: a, b, c" ></p-chips> -->
       <mat-form-field class="example-form-field">
          <mat-label>Click here to add DMP Keywords</mat-label>
          <mat-chip-grid #reactiveChipGrid aria-label="Enter reactive form keywords" [formControl]="keyWordsForm.controls['keywords']">
          @for (keyword of reactiveKeywords(); track keyword) {
            <mat-chip-row (removed)="removeReactiveKeyword(keyword)">
              {{keyword}}
            <button matChipRemove [attr.aria-label]="'remove reactive form' + keyword">
              <mat-icon>cancel</mat-icon>
            </button>
            </mat-chip-row>
          }
          </mat-chip-grid>
          <input
            #chipInput
            placeholder="Copy/Paste or manually type in Keywords/Phrases as comma or semicolon separated values e.g. a, b; c"
            
            [matChipInputFor]="reactiveChipGrid"
            (matChipInputTokenEnd)="addReactiveKeyword($event)"
            (blur)="onBlur($event)"
            (input)="onInputChange(chipInput.value)"
          />
        </mat-form-field>
    </div>

    <!-- <p *ngIf="errorMessage" class="error-msg">{{ errorMessage }}</p> -->
  </div>
</div>
