$header_height: 56px;

.dmp_header{
  padding: {
    top: 12px;
    bottom: 12px;
    right: 0px;
    left: 0px;
  };
  border-radius: 8px;
  text-align:center;
  background: rgb(198, 213, 235);
  color: rgb(43, 43, 43);
  font-size:x-large;
  font-weight:bolder;
  // width: 600px;
  
}

#myHeader{
  position: fixed;
  z-index: 100;
  width: 100%;
}
#dmp_panel{
  position: relative;
  top: 100px;
  left: 1em;
  padding-bottom: 120px;

}

.btn_draft {
  background: rgb(242, 243, 255);
  border: 1px solid #00000053;
}
.btn_update {
  background: #008817;
  border: 1px solid #00000053;
  color: #ffffff !important;
}
.btn_reset {
  background: rgb(224, 224, 224);
  border: 1px solid #00000053;
}

.dmp_control_bar{
  position: fixed;
  top: $header_height;
  // left: 10px;
  // padding: 4px;
  // padding-bottom: 5px;
  background-color: #ffffff;
  // width:100%;
  z-index:2;
  border-bottom: groove #000000;
  
}

.grid_buttons {
  div {float:left;}
  position: relative;  
  // padding-right: 10px;
  height: 45px;
  background-color: #ffffff;
  float: right;
}

.dmpExportSelect {
  padding-left: 5px;
  // padding-top: 3px;

  position: relative;
  
}

.dmpExportSelect select{
  appearance: none;
  min-width: 124px;
  max-width: 134px;
  // width: 100%;
  font-size: 15px;
  padding: 7px 5px;
  background-color: #fff;
  border: 1px solid #000000;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
}
.dmpExportSelect::before,
.dmpExportSelect::after {
  --size: 0.3rem;
  position: absolute;
  content: "";
  right: 10px;
  pointer-events: none;
}

// .dmpExportSelect::before {
//   border-left: var(--size) solid transparent;
//   border-right: var(--size) solid transparent;
//   border-bottom: var(--size) solid black;
//   top: 30%;
// }

.dmpExportSelect::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 45%;
}



