.dmp_header{
  padding: {
    top: 5px;
    bottom: 5px;
    right: 0px;
    left: 0px;
  };
  text-align:center;
  background: rgb(198, 213, 235);
  color: rgb(43, 43, 43);
  font-size:x-large;
  font-weight:bolder;
  // width: 600px;
  
}




