.dmp_header{
  padding: {
    top: 12px;
    bottom: 12px;
    right: 0px;
    left: 0px;
  };
  border-radius: 8px;
  text-align:center;
  background: rgb(198, 213, 235);
  color: rgb(43, 43, 43);
  font-size:x-large;
  font-weight:bolder;
  // width: 600px;
  
}

#myHeader{
  position: fixed;
  z-index: 100;
  width: 100%;
}
#dmp_panel{
  position: relative;
  top: 100px;
  left: 0px;
  padding-bottom: 120px;

}




