<div>
    <app-header appVersion="1.0"></app-header>
</div>
<div class="dmp_header" id="dmp_hdr">Data Management Plan</div>  

<div class="sticky" id="resource_options">
    <!-- 
    Here child component called resource-options expects the property named "data"
    whose value is stored in the "resourceCompMessage" variable
  
  <app-resource-options [data]="resourceCompMessage"></app-resource-options>
  -->
    <app-resource-options></app-resource-options>
</div>
<div id="dmp_panel">
  <router-outlet></router-outlet>
</div>
<!-- <table>
    <tr>
        <td>
          <router-outlet></router-outlet>
        </td>
        <td>



        </td>
    </tr>
</table> -->

<!-- <h1>
  Environment
</h1>
<pre>{{env | json}}</pre> -->
<div>
    <app-footer></app-footer>
</div>