<div *ngIf="readyDisplay">
    <app-header appVersion="1.0"></app-header>
</div>

<div *ngIf="creds && readyDisplay">
    <!-- div dmp_hdr is used for calculating resizing of the form and positioning of the reources options -->
    <div  id="dmp_hdr" (resized)="onResized($event)"></div>  

    <div class="sticky" id="resource_options">
        <!-- 
        Here child component called resource-options expects the property named "data"
        whose value is stored in the "resourceCompMessage" variable
    
    <app-resource-options [data]="resourceCompMessage"></app-resource-options>
    -->
        <app-resource-options></app-resource-options>
    </div>
    <div id="dmp_panel">
    <div class="dmp_user"><img [src]="loginPNG" [alt]="alttext">
        {{authMessage}}</div>
    <div class="dmp_header" >Data Management Plan</div>
    
    <router-outlet></router-outlet>
    </div>

</div>

<div *ngIf="!creds && readyDisplay" style="display: flex;height:100%;justify-content: center;align-items: center;font-size: xx-large;">
    {{authMessage}}
</div>

<!-- <table>
    <tr>
        <td>
          <router-outlet></router-outlet>
        </td>
        <td>



        </td>
    </tr>
</table> -->

<!-- <h1>
  Environment
</h1>
<pre>{{env | json}}</pre> -->
<div *ngIf="readyDisplay">
    <app-footer></app-footer>
</div>