<div class="dmpSection">
  <div class="header">Technical Requirements</div> 
  
  <!-- 
  <div id="myDiv1" [ngClass]="{'cMB':dataSetSize==='MB',  'cTB':dataSetSize==='TB',  'cGB':dataSetSize==='GB'}">
    color change div
  </div> 
  -->
  
  <table >
    <tr>
      <td class="description">Estimated Data Size</td>
      <td>
        <input type="text" placeholder="Numeric value">
        <select name="dataSize" [(ngModel)]="dataSize" (change)="selDataSize()" >
          <option [value]="item.id" *ngFor="let item of dataUnits">
              {{item.size}}
          </option>
        </select>
      </td>
    </tr>
    <tr>
      <td class="description">Software Development</td>
      <td>
        <input type="radio" id="softwareDevY" name="softwareDevelopment" value="yes" (click)="setSoftwareDev('yes')">
        <label for="softwareDevY">Yes</label>

        <input type="radio" id="softwareDevN" name="softwareDevelopment" value="no" (click)="setSoftwareDev('no')" [checked]='true'  >
        <label for="softwareDevN">No</label>
        <div *ngIf="selSoftwareDev('yes')">
          <!-- display this div only if the software development radio button was set to yes  -->
          <br>
          Software developed for this project will be for:
          <table>
            <tr>
              <td>
                <input type="radio" id="softwareInternal" name="softwareUse" value="internal" (click)="setSoftwareUse('internal')" [checked]='true'>
                <label for="softwareInternal">Internal NIST Use</label>
              </td>
              <td>
                <input type="radio" id="softwareExternal" name="softwareUse" value="external" (click)="setSoftwareUse('external')">
                <label for="softwareExternal">External Use</label>
              </td>
              <td>
                <input type="radio" id="softwareIntExt" name="softwareUse" value="both" (click)="setSoftwareUse('both')">
                <label for="softwareIntExt">Both</label>
              </td>
            </tr>
          </table>


        </div>
      </td>
    </tr>
    <tr>
      <td class="description" >Technical Resources</td>
      <td style="width: 400px;">  
        <ul class="list">
          <li *ngFor="let item of techRsrc">{{ item }}</li>
        </ul>
    
        <div class="add-list-container">
          <input
            #techRsrcInput
            type="text"
            (input)="techRsrcOnInput(techRsrcInput.value)"
            [value]="newTechRsrc"
            placeholder="equipment needed/used e.g. microscope"
          />
          <button (click)="techRsrcOnClick()">Add</button>&nbsp;
          <button (click)="techRsrcOnClickClear()">Clear</button>
        </div>
        <p *ngIf="techRsrcErr" class="error-msg">{{ techRsrcErr }}</p>
      </td>
    </tr>
  </table>
</div>