<div class="dmpSection">
  <div class="header">Technical Requirements</div> 

  <div class="dmp-frm-container">
    <div class="dmp-frm-row">
      <div class="col-20">
        <label for="estimated_data_size"><div class ="dmp_tooltip">Estimated Data Size<span class="dmp_tooltiptext">Is it total size over the project life or per year?</span></div></label>
      </div>
      <div class="col-80">
        <input type="text" id="estimated_data_size" placeholder="Numeric value" (change)="setDataSize($event)" 
        [formControl]="technicalRequirementsForm.controls['dataSize']" >

        <select name="dataSize" [(ngModel)]="dataSize" (change)="selDataSize()" style="padding: 5px;">
          <option [value]="item.id" *ngFor="let item of dataUnits">
              {{item.size}}
          </option>
        </select>
      </div>
    </div>

    <div class="dmp-frm-row">
      <div class="col-20">
        Software Development
      </div>
      <div class="col-80">
        <input type="radio" id="softwareDevY" name="softwareDevelopment" value="yes" (click)="setSoftwareDev('yes')"
        [formControl]="technicalRequirementsForm.controls['development']"
        >
        <label for="softwareDevY">Yes</label>

        <input type="radio" id="softwareDevN" name="softwareDevelopment" value="no" (click)="setSoftwareDev('no')" 
        [formControl]="technicalRequirementsForm.controls['development']" >
        <label for="softwareDevN">No</label>
        <div *ngIf="selSoftwareDev('yes')">
          <!-- display this div only if the software development radio button was set to yes  -->
          <br>
          Software developed for this project will be for:
          <table>
            <tr>
              <td>
                <input type="radio" id="softwareInternal" name="softwareUse" value="internal" (click)="setSoftwareUse('internal')" 
                [formControl]="technicalRequirementsForm.controls['softwareUse']">
                <label for="softwareInternal">Internal NIST Use</label>
              </td>
              <td>
                <input type="radio" id="softwareExternal" name="softwareUse" value="external" (click)="setSoftwareUse('external')"
                [formControl]="technicalRequirementsForm.controls['softwareUse']">
                <label for="softwareExternal">External Use</label>
              </td>
              <td>
                <input type="radio" id="softwareIntExt" name="softwareUse" value="both" (click)="setSoftwareUse('both')"
                [formControl]="technicalRequirementsForm.controls['softwareUse']">
                <label for="softwareIntExt">Both</label>
              </td>
            </tr>
          </table>
          <br>
          Does the software development require a database?
          <table>
            <tr>
              <td>
                <input type="radio" id="databaseY" name="databaseUse" value="yes" (click)="setDatabaseUse('yes')" 
                [formControl]="technicalRequirementsForm.controls['softwareDatabase']">
                <label for="databaseY">Yes</label>
              </td>
              <td>
                <input type="radio" id="databaseN" name="databaseUse" value="no" (click)="setDatabaseUse('no')" 
                [formControl]="technicalRequirementsForm.controls['softwareDatabase']">
                <label for="databaseN">No</label>
              </td>
            </tr>
          </table>
          <br>
          Will the software development produce a website interface?
          <table>
            <tr>
              <td>
                <input type="radio" id="websiteY" name="websiteDevelopment" value="yes" (click)="setWebsiteDev('yes')" 
                [formControl]="technicalRequirementsForm.controls['softwareWebsite']">
                <label for="websiteY">Yes</label>
              </td>
              <td>
                <input type="radio" id="websiteN" name="websiteDevelopment" value="no" (click)="setWebsiteDev('no')" 
                [formControl]="technicalRequirementsForm.controls['softwareWebsite']">
                <label for="websiteN">No</label>
              </td>
            </tr>
          </table>

        </div>
      </div>
    </div>

    <div class="sub-category">Technical resources equipment needed/used</div>
    <p class="chips-info" style="padding-top: 20px;">Copy/Paste or manually type in Keywords/Phrases as comma separated values: <i>Hint: a, b, c</i></p>  
    <div class="p-fluid">
      <p-chips [formControl]="technicalRequirementsForm.controls['technicalResources']" [separator]="separatorExp" placeholder="Hint: a, b, c"  ></p-chips>
    </div>

    <div class="sub-category">Instruments needed/used</div>

    <div>
      <b>Instruments used</b><br>
      Instrument Name:<br>
      <input type="text" id="instrument_name" name="instrument_name" required minlength="4" maxlength="8" size="10" /><br>
      Instrument Description / URL Landing Page:<br>
      <input type="text" id="instrument_url" name="instrument_url" required minlength="4" maxlength="8" size="10" /><br>
    </div>

  </div>
    
</div>