<div class="dmpSection">
  <div class="header">Technical Requirements</div> 
  
  <!-- 
  <div id="myDiv1" [ngClass]="{'cMB':dataSetSize==='MB',  'cTB':dataSetSize==='TB',  'cGB':dataSetSize==='GB'}">
    color change div
  </div> 
  -->
  
  <table >
    <tr>
      <td class="description">Estimated Data Size</td>
      <td>
        <input type="text" placeholder="Numeric value" (change)="setDataSize($event)" 
        [formControl]="technicalRequirementsForm.controls['dataSize']" >

        <select name="dataSize" [(ngModel)]="dataSize" (change)="selDataSize()" >
          <option [value]="item.id" *ngFor="let item of dataUnits">
              {{item.size}}
          </option>
        </select>

      </td>
    </tr>
    <tr>
      <td class="description">Software Development</td>
      <td>
        <input type="radio" id="softwareDevY" name="softwareDevelopment" value="yes" (click)="setSoftwareDev('yes')"
        [formControl]="technicalRequirementsForm.controls['development']"
        >
        <label for="softwareDevY">Yes</label>

        <input type="radio" id="softwareDevN" name="softwareDevelopment" value="no" (click)="setSoftwareDev('no')" 
        [formControl]="technicalRequirementsForm.controls['development']" >
        <label for="softwareDevN">No</label>
        <div *ngIf="selSoftwareDev('yes')">
          <!-- display this div only if the software development radio button was set to yes  -->
          <br>
          Software developed for this project will be for:
          <table>
            <tr>
              <td>
                <input type="radio" id="softwareInternal" name="softwareUse" value="internal" (click)="setSoftwareUse('internal')" 
                [formControl]="technicalRequirementsForm.controls['softwareUse']">
                <label for="softwareInternal">Internal NIST Use</label>
              </td>
              <td>
                <input type="radio" id="softwareExternal" name="softwareUse" value="external" (click)="setSoftwareUse('external')"
                [formControl]="technicalRequirementsForm.controls['softwareUse']">
                <label for="softwareExternal">External Use</label>
              </td>
              <td>
                <input type="radio" id="softwareIntExt" name="softwareUse" value="both" (click)="setSoftwareUse('both')"
                [formControl]="technicalRequirementsForm.controls['softwareUse']">
                <label for="softwareIntExt">Both</label>
              </td>
            </tr>
          </table>
          <br>
          Does the software development require a database?
          <table>
            <tr>
              <td>
                <input type="radio" id="databaseY" name="databaseUse" value="yes" (click)="setDatabaseUse('yes')" 
                [formControl]="technicalRequirementsForm.controls['softwareDatabase']">
                <label for="databaseY">Yes</label>
              </td>
              <td>
                <input type="radio" id="databaseN" name="databaseUse" value="no" (click)="setDatabaseUse('no')" 
                [formControl]="technicalRequirementsForm.controls['softwareDatabase']">
                <label for="databaseN">No</label>
              </td>
            </tr>
          </table>
          <br>
          Will the software development produce a website interface?
          <table>
            <tr>
              <td>
                <input type="radio" id="websiteY" name="websiteDevelopment" value="yes" (click)="setWebsiteDev('yes')" 
                [formControl]="technicalRequirementsForm.controls['softwareWebsite']">
                <label for="websiteY">Yes</label>
              </td>
              <td>
                <input type="radio" id="websiteN" name="websiteDevelopment" value="no" (click)="setWebsiteDev('no')" 
                [formControl]="technicalRequirementsForm.controls['softwareWebsite']">
                <label for="websiteN">No</label>
              </td>
            </tr>
          </table>


        </div>
      </td>
    </tr>
    <!-- <tr>
      <td class="description" >Technical Resources</td>
      <td style="width: 400px;">  
        <ul class="list">
          <li *ngFor="let item of techRsrc">{{ item }}</li>
        </ul>
    
        <div class="add-list-container">
          <input
            #techRsrcInput
            type="text"
            (input)="techRsrcOnInput(techRsrcInput.value)"
            [value]="newTechRsrc"
            placeholder="equipment needed/used e.g. microscope"
          />
          <button (click)="techRsrcOnClick()">Add</button>&nbsp;
          <button (click)="techRsrcOnClickClear()">Clear</button>
        </div>
        <p *ngIf="techRsrcErr" class="error-msg">{{ techRsrcErr }}</p>
      </td>
    </tr> -->
  </table>
  <p class="instruction"> Technical resources equipment needed/used</p>
  <article class="table-header">
    
    <!-- 
      set button type to 'button' to prevent it from acting like a submit button and triggering
      updateDMP in dmp.services.ts 
    -->
    <button type="button" class="button-remove-rows" mat-button (click)="removeSelectedRows()" [disabled]="disableRemove">Remove Selected</button>
    <button type="button" class="button-clear-table" mat-button (click)="clearTable()" [disabled]="disableClear">Clear</button>
    <button type="button" class="button-add-row" mat-button (click)="addRow()" [disabled]="disableAdd">Add</button>
  </article>
  <p *ngIf="errorMessage" class="error-msg">{{ errorMessage }}</p>
  

  <table mat-table [dataSource]="techResource" class="mat-elevation-z8">
  
    <!-- 
      iterate over columns 
    -->
    <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
      <!-- 
        table headers 
      -->
      <th mat-header-cell *matHeaderCellDef>  {{ col.label }} </th>
      <!-- 
        table cells 
      -->
      <td mat-cell *matCellDef="let element">  
        <!-- table cell display default cell display -->
        <div [ngSwitch]="col.type" *ngIf="!element.isEdit">
          <!-- Switch if the column isSelected to display the checkbox in the table cell -->
          <ng-container *ngSwitchCase="'isSelected'">
            <mat-checkbox
              (change)="element.isSelected = $event.checked"
            ></mat-checkbox>
          </ng-container>

          <!-- Switch if the column isEdit to display the Edit and delete buttons in the table cell -->
          <div class="btn-edit" *ngSwitchCase="'isEdit'">
            <button class="button-edit" mat-button (click)="element.isEdit = !element.isEdit">
              Edit
            </button>
            <button
              mat-button
              class="button-remove"
              (click)="removeRow(element.id)"
            >
              Delete
            </button>
          </div>
          
          <!-- default cell -->
          <span *ngSwitchDefault>
            {{ element[col.key] }}
          </span>
        </div>

        <!-- table cell display if edit button has been clicked -->
        <div [ngSwitch]="col.type" *ngIf="element.isEdit">
          <!-- no input for the selected checkbox column cell -->
          <div *ngSwitchCase="'isSelected'"></div>
          
          <!-- Switch if the column isEdit to display the Done button in the table cell -->
          <div class="btn-edit" *ngSwitchCase="'isEdit'">
            <button type="button" mat-button (click)="onDoneClick(element)">
              Done
            </button>
          </div>

          <!-- default column cell -->
          <mat-form-field class="form-input" *ngSwitchDefault>
            <input [type]="col.type" matInput [(ngModel)]="element[col.key]" />
          </mat-form-field>

        </div>

      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>    
</div>