th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
  padding-right: 2px;
}
table.contribTbl{
  width: 100%;

}

td.cell-top{
  vertical-align: top;
}

.contributor-box{
  background-color: #f5f5f5;
  border-style: solid;
  border-width: 1px;
  border-color: #a1a1a1;
  border-radius: 10px;
  padding: 10px;
  max-width: 430px;
}

