
<div class="dmpSection">
  <div class="header">Researchers</div>

  
  <table>
    <tr>
      <td class="description">Primary NIST Contact</td>
      <td>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>NIST Contact</mat-label>
          <input type="text"
                 placeholder="Pick one"
                 aria-label="Nist Contact"
                 matInput
                 [formControl]="personelForm.controls['primary_NIST_contact']"
                 [matAutocomplete]="primary_NIST_contact">
          <mat-autocomplete 
            #primary_NIST_contact="matAutocomplete"
            [displayWith]="displaySelectedContact"
          >
            <mat-option *ngFor="let option of fltr_Prim_NIST_Contact | async" [value]="option">
              {{option.lastName + ", " + option.firstName}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

      </td>
    </tr>
    <!-- <tr>
      <td class="description">NIST DMP Reviewer</td>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>NIST Reviewer</mat-label>
          <input type="text"
                 placeholder="Pick one"
                 aria-label="Nist Reviewer"
                 matInput
                 [formControl]="personelForm.controls['NIST_DMP_Reviewer']"
                 [matAutocomplete]="NIST_DMP_Reviewer">
          <mat-autocomplete 
            #NIST_DMP_Reviewer="matAutocomplete"
            [displayWith]="displaySelectedContact"
          >
            <mat-option *ngFor="let Reviewer of fltr_NIST_DMP_Reviewer | async" [value]="Reviewer">
              {{Reviewer.firstName + " " + Reviewer.lastName}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </td>
    </tr> -->
    <tr>
      <td class="description">Contributor</td>
      <td>
        <div>
          <input 
            type="radio" 
            id="contributorNIST" 
            name="contributor" 
            value="NIST" 
            (click)="setContributor('NIST')"
            (change)="onContributorChange($event.target)"
          >
          <label for="contributorNIST">NIST employee / associate</label>
        </div>
        
        <div *ngIf="selectedContributor('NIST')">
          <table>
            <tr>
              <td>Select NIST Contributor</td>
              <td>
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>NIST Contributor</mat-label>
                  <input type="text"
                         placeholder="Pick one"
                         aria-label="Nist Contributor"
                         matInput
                         [formControl]="personelForm.controls['dmp_contributor']"
                         [matAutocomplete]="dmp_contributor">
                  <mat-autocomplete 
                    #dmp_contributor="matAutocomplete"
                    [displayWith]="displaySelectedContact"
                  >
                    <mat-option *ngFor="let contrib of fltr_NIST_Contributor | async" [value]="contrib">
                      {{contrib.lastName + ", " + contrib.firstName}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>

              </td>
            </tr>
            <tr>
              <td>Contributor Role</td>
              <td>
                <select
                  name="nistContribRole"
                  [(ngModel)]="nistContribRole"
                  (change)="selContributorRole()"
                >
                  <option [value]="role.id" *ngFor="let role of contributorRoles">
                      {{role.value}}
                  </option>

                </select>
              </td>
            </tr>

          </table>
          
          
        </div>

        <div>
          <input 
            type="radio" 
            id="contributorExternal" 
            name="contributor" 
            value="External" 
            (click)="setContributor('External')"
            (change)="onContributorChange($event.target)"
          >
          <label for="contributorExternal">External Collaborator</label>
          <div *ngIf="selectedContributor('External')">
            <table>
              <tr>
                <td>First Name</td>
                <td><input type="text" [(ngModel)]="externalContributor.contributor.firstName"></td>
              </tr>
              <tr>
                <td>Last Name</td>
                <td><input type="text" [(ngModel)]="externalContributor.contributor.lastName"></td>
              </tr>
              <tr>
                <td class="description">Institution / Affiliation</td>
                <td><input type="text" [(ngModel)]="externalContributor.instituion"></td>
              </tr>
              <tr>
                <td>e-mail</td>
                <td><input type="text" [(ngModel)]="externalContributor.e_mail"></td>
              </tr>
              <tr>
                <td>Role</td>
                <td>
                  <select
                    name="extContribRole"
                    [(ngModel)]="extContribRole"
                    (change)="selExtContributorRole()"
                  >
                    <option [value]="role.id" *ngFor="let role of contributorRoles">
                        {{role.value}}
                    </option>

                  </select>
                </td>
              </tr>
              
            </table>
          </div>
        </div>
      </td>
    </tr>
    
  </table>
  <div class="dmpSubSection">
    
      <div class="sub-category">Contributors</div>

      <article class="table-header">
    
        <!-- 
          set button type to 'button' to prevent it from acting like a submit button and triggering
          updateDMP in dmp.services.ts 
        -->
        <button type="button" class="button-remove-rows" mat-button (click)="removeSelectedRows()" [disabled]="disableRemove">Remove Selected</button>
        <button type="button" class="button-clear-table" mat-button (click)="clearTable()" [disabled]="disableClear">Clear</button>
        <button type="button" class="button-add-row" mat-button (click)="addRow()" [disabled]="disableAdd">Add</button>
      </article>
      
      <p *ngIf="errorMessage" class="error-msg">{{ errorMessage }}</p>

      <table mat-table [dataSource]="dmpContributor" class="mat-elevation-z8 contribTbl">
  
        <!-- 
          iterate over columns 
        -->
        <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
          <!-- 
            table headers 
          -->
          <th mat-header-cell *matHeaderCellDef>  {{ col.label }} </th>
          <!-- 
            table cells 
          -->
          <td mat-cell *matCellDef="let element">  
            <!-- table cell display default cell display -->
            <div [ngSwitch]="col.type" *ngIf="!element.isEdit">
              <!-- Switch if the column isSelected to display the checkbox in the table cell -->
              <ng-container *ngSwitchCase="'isSelected'">
                <mat-checkbox
                  (change)="element.isSelected = $event.checked"
                ></mat-checkbox>
              </ng-container>
    
              <!-- Switch if the column isEdit to display the Edit and delete buttons in the table cell -->
              <div class="btn-edit" *ngSwitchCase="'isEdit'">
                <span *ngIf="element.institution !== 'NIST'">
                  <!--
                    Display edit button only for non NIST contacts
                  -->
                  <button class="button-edit" mat-button (click)="element.isEdit = !element.isEdit">
                    Edit
                  </button>
                </span>
                <button
                  mat-button
                  class="button-remove"
                  (click)="removeRow(element.id)"
                >
                  Delete
                </button>
              </div>
              
              <!-- default cell -->
              <span *ngSwitchDefault>
                {{ element[col.key] }}
              </span>
            </div>
    
            <!-- table cell display if edit button has been clicked -->
            <div [ngSwitch]="col.type" *ngIf="element.isEdit">
              <!-- no input for the selected checkbox column cell -->
              <div *ngSwitchCase="'isSelected'"></div>
              
              <!-- Switch if the column isEdit to display the Done button in the table cell -->
              <div class="btn-edit" *ngSwitchCase="'isEdit'">
                <button type="button" mat-button (click)="onDoneClick(element)">
                  Done
                </button>
              </div>
    
              <!-- default column cell -->
              <mat-form-field class="form-input" *ngSwitchDefault>
                <input [type]="col.type" matInput [(ngModel)]="element[col.key]" />
              </mat-form-field>
    
            </div>
    
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>    
    
  </div>
  <table>
    
  </table>

  
</div>