th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
  padding-right: 2px;
}
table.contribTbl{
  width: 100%;

}

.table-header{
  margin-top: 5px;
}
td.cell-top{
  vertical-align: top;
}
