<div class="dmpSection">
  <div class="header">Security and Privacy</div>
  <div class="dmp-frm-container">
    <div>
      Select Data Sensitivity Level(s):<br>
      <ng-container *ngFor="let level of sensitivityLevels">
        <input
          type="checkbox"
          [id]="'dataSensitivity' + level"
          [checked]="isSensitivitySelected(level)"
          (change)="toggleSensitivity(level, $event.target.checked)"
        >&nbsp;<label [for]="'dataSensitivity' + level"> {{ level }} </label>
      </ng-container>
      <br>
      <div *ngIf="showCUI_chk">
        Controlled Unclassified Information (CUI):<br>
        <ng-container *ngFor="let type of cuiTypes">
          <input
            type="checkbox"
            [id]="'cui' + type"
            [checked]="isCuiSelected(type)"
            (change)="toggleCui(type, $event.target.checked)"
          >&nbsp;<label [for]="'cui' + type"> {{ type }} </label>
        </ng-container>
        <br>
      </div>
    </div>
  </div>
</div>